{{ define "content" }}
<form action="/login" method="post">
  <div class="login-portal">
    <div class="icon-container">
      <span class="material-icons" style="font-size: 12rem;">
        lock
      </span>
    </div>
    <div class="">
      <h1 class="app-name">{{.AppNameT}}</h1>
    </div>
    <div class="mb-3">
      <label for="username-input" class="form-label">{{.EmailT}}</label>
      <input
        class="form-control input-field"
        id="username-input"
        placeholder="username"
        name="email"
      />
    </div>
    <div class="mb-3">
      <label for="password-input" class="form-label">{{.PasswordT}}</label>
      <input
        type="password"
        class="form-control input-field"
        id="password-input"
        placeholder="password"
        name="password"
      />
    </div>
    <button type="submit" class="btn btn-primary">{{ .SignInT }}</button>
    <div class="">
      <p>{{ .NoACT }}<a href="/signup">{{ .SignUpT }}</a></p>
    </div>
  </div>
</form>
<style>
  .app-name {
    text-align: center;
  }
  label {
    color: grey !important;
  }
  .icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .login-portal {
    grid-area: center;
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 1);
  }
  .app-icon {
    color: white;
    align-self: center;
    width: 12rem;
    height: 12rem;
    border-radius: 12rem;
  }
  .input-field {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 1);
  }
</style>
{{ end }}
