{{ define "content" }}
<form action="/signup" method="post">
  <div class="left-container">
    <div class="col-md-12">
      <label for="givenName" class="form-label title">
        {{ .GivenNameT }}
      </label>
      <input
        type="text"
        class="form-control form-input-box {{with .GivenNameErr}}is-invalid{{end}}"
        placeholder="{{.GivenNameT}}"
        name="given_name"
        value="{{.GivenName}}"
      />
      {{with .GivenNameErr}}
      <div class="invalid-feedback">
        {{.}}
      </div>
      {{end}}
    </div>
    <div class="col-md-12">
      <label for="surnname" class="form-label title">
        {{ .SurnnameT }}
      </label>
      <input
        type="text"
        class="form-control form-input-box {{with .SurnNameErr}}is-invalid{{end}}"
        placeholder="{{ .SurnnameT }}"
        name="surnname"
        value="{{.SurnName}}"
      />
      {{with .SurnNameErr}}
      <div class="invalid-feedback">
        {{.}}
      </div>
      {{end}}
    </div>
    <div class="col-md-12">
      <label for="bio" class="form-label title">
        {{ .BioT}}
      </label>
      <input
        type="text"
        class="form-control form-input-box {{with .BioErr}}is-invalid{{end}}"
        placeholder="{{ .BioT}}"
        name="bio"
        value="{{.Bio}}"
      />
      {{with .BioErr}}
      <div class="invalid-feedback">
        {{.}}
      </div>
      {{end}}
    </div>
    <div class="col-md-12">
      <label for="email" class="form-label title">
        {{ .EmailT }}
      </label>
      <input
        type="text"
        class="form-control form-input-box {{with .EmailErr}}is-invalid{{end}}"
        placeholder="{{ .EmailT }}"
        name="email"
        value="{{ .Email }}"
      />
      {{with .EmailErr}}
      <div class="invalid-feedback">
        {{.}}
      </div>
      {{end}}
    </div>
    <div class="col-md-12">
      <label for="password" class="form-label title">
        {{ .PasswordT}}
      </label>
      <input
        type="password"
        class="form-control form-input-box {{with .PasswordErr}}is-invalid{{end}}"
        placeholder="{{ .PasswordT}}"
        name="password"
      />
      {{with .PasswordErr}}
      <div class="invalid-feedback">
        {{.}}
      </div>
      {{end}}
    </div>
    <div class="col-md-12">
      <label for="confirm_password" class="form-label title">
        {{ .ConfirmPasswordT}}
      </label>
      <input
        type="password"
        class="form-control form-input-box"
        placeholder="{{ .ConfirmPasswordT}}"
        name="confirm_password"
      />
      <div class="invalid-feedback">
        Confirm Password not same with password inputed
      </div>
    </div>
    <button type="submit" class="btn btn-primary" id="submit-btn">
      Submit
    </button>
  </div>
</form>
<!-- <script src="/static/js/validate_signup.js"></script> -->
<style>
  .left-container {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .title {
    color: #149414;
    font-weight: 600;
  }
  .form-input-box,
  .form-input-box:focus,
  .form-input-box:hover {
    background: #000;
    color: #149414;
    border: 0.1rem solid #149414;
  }
  .form-input-box:focus,
  .form-input-box:hover {
    border: 0.1rem solid #ff00ff;
  }
</style>
{{end}}
